<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  # Take-over all requests 
  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f
 
  RewriteRule ^.*$ ./index.php
</IfModule>

<IfModule mod_headers.c>
  Header append Vary Accept env=REDIRECT_accept
</IfModule>

AddType application/font-woff2 .woff2
AddCharset UTF-8 .html
