<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGE_TITLE</title>
        <link rel="shortcut icon" href="DIR_IMG/branding/favicon.ico">
        <link href="DIR_AST/common.css?v=2" rel="stylesheet">
        <script src="DIR_AST/common.js?v=2" type="text/javascript"></script>
        <!-- Custom Page Scripts -->
        <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
PAGE_SCRIPT_INSERT
        <!-- Web Application Manifest -->
        <link rel="manifest" href="DIR_AST/pwa.webmanifest">
        <!-- Chrome for Android theme color -->
        <meta name="theme-color" content="#FFFFFF">
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="KoDatos">
        <link rel="icon" sizes="512x512" href="DIR_AST/images/branding/icon-512.png">
    </head>
    <body state="PAGE_MARKER">
TPL_HEADER
CONTENT_INSERT
    </body>
</html>