<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGE_TITLE</title>
        <link rel="shortcut icon" href="DIR_AST/branding/favicon.ico">
        <link href="DIR_AST/common.css?v=3" rel="stylesheet">
        <script src="DIR_AST/common.js?v=3" type="text/javascript"></script>
        <!-- OpenGraph -->
        <meta property="og:title" content="PAGE_TITLE">
        <meta property="og:image" content="DIR_AST/branding/icon-512.png">
        <meta property="og:description" content="PAGE_DESC">
        <meta name="description" content="PAGE_DESC">
        <!-- Custom Page Scripts -->
        <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
PAGE_SCRIPT_INSERT
        <!-- Web Application Manifest -->
        <link rel="manifest" href="DIR_AST/pwa/app.webmanifest">
        <!-- Chrome for Android theme color -->
        <meta name="theme-color" content="#FFFFFF">
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="KoDatos">
        <link rel="icon" sizes="512x512" href="DIR_AST/branding/icon-512.png">
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="apple-mobile-web-app-title" content="KoDatos">
        <link rel="apple-touch-icon" href="DIR_AST/branding/maskable_icon_x192.png">
    </head>
    <body state="PAGE_MARKER">
<div id="load-overlay">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
TPL_HEADER
CONTENT_INSERT
    </body>
</html>