<main id="main">
    <section id="section-scan" class="section-full">
        <div id="primary-header-spacer"></div>
        <div class="content-layout">
            <img src="DIR_IMG/code.svg" width="200px">
            <h1>Enter your reference code</h1>
            <h2>This is usually found under the QR code of your infocard.</h2>
            <div class="card l">
                <form name="verifyForm" method="post" action="view">
                    <input type="text" id="field-reference" class="mb1" name="reference" placeholder="Reference Code" required>
                    <div class="box ac jc v">
                        <button class="">
                            <span class="text c nm">Verify</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>