        <header id="primary-header">
            <nav id="left-nav">
                <ul>
                    <li>
                        <a class="link" href="/">
                            <span style="visibility:collapse;font-size:0;">KoDatos</span>
                            <img src="DIR_IMG/branding/logo.svg#sprite"/>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav id="right-nav">
                <ul>
CONTENT_INSERT
                </ul>
            </nav>
        </header>