        <header id="primary-header">
            <nav id="left-nav">
                <ul>
                    <li>
                        <a class="link" href="/">
                            <span style="visibility:collapse;font-size:0;">KoDatos</span>
                            <img src="assets/images/logo.svg#sprite"/>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav id="right-nav">
                <ul>
                    <li>
                        <a class="link" href="/sign-in">
                            <span class="mdi-set mdi-account"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>