<header id="primary-header">
    <nav id="left-nav">
        <ul>
            <li>
                <a class="link" href="/">
                    <div>
                        <span class="iconify" data-icon="mdi-arrow-left-circle"></span>
                        <span>Return to Home</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main id="main">
    <section id="section-login" class="section-full">
        <img src="DIR_AST/branding/logo.svg#sprite" width="300" height="100"/>
        <div class="card l">
            <form method="post" action="">
CONTENT_INSERT
                <input type="text" id="field-email" name="email" placeholder="Email or username" required>
                <input type="password" id="field-password" name="password" placeholder="Password" required>
                <div class="box ac jc v">
                    <button>
                        <span class="text c nm">Sign In</span>
                    </button>
                    <!-- <a href="#forgot" class="mt1">
                        Forgot your password?
                    </a> -->
                </div>
            </form>
        </div>
    </section>
</main>
