                        <div class="card2 l">
                            <div class="title STATE_ID">
                                <span class="cell left-col hr">COVID-19 test result</span>
                                <span class="cell state-child state-low-child">
                                    <span class="mdi-set mdi-alert-circle"></span>
                                    <span>POSITIVE</span>
                                </span>
                                <span class="cell state-child state-mid-child">
                                    <span class="mdi-set mdi-alert-circle"></span>
                                    <span>UNTESTED</span>
                                </span>
                                <span class="cell state-child state-high-child">
                                    <span class="mdi-set mdi-checkbox-marked-circle"></span>
                                    <span>NEGATIVE</span>
                                </span>
                            </div>
                            <div class="table hl">
                                CONTENT_INSERT
                            </div>
                        </div>