                                <div class="row subhead">
                                    1st Dose
                                </div>
                                <div class="table">
                                    <div class="row">
                                        <span class="cell hr">Date of Vaccination:</span>
                                        <span class="cell">VAX_DATE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell hr">Vaccine/Prophylaxis:</span>
                                        <span class="cell">VAX_TYPE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell hr">Product Name/Manufacturer:</span>
                                        <span class="cell">PROD_NAME</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell hr">Lot Number:</span>
                                        <span class="cell">LOT_NUM</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell hr">Vaccination Site:</span>
                                        <span class="cell">VAX_SITE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell hr">Healthcare Professional:</span>
                                        <span class="cell">HCW_NAME</span>
                                    </div>
                                </div>