                                <div class="table hl">
                                    <div class="row subhead">
                                        DOSE_NUM Dose
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Date of Vaccination:</span>
                                        <span class="cell">VAX_DATE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Vaccine/Prophylaxis:</span>
                                        <span class="cell">VAX_TYPE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Product Name/Manufacturer:</span>
                                        <span class="cell">PROD_NAME</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Lot Number:</span>
                                        <span class="cell">LOT_NUM</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Vaccination Site:</span>
                                        <span class="cell">VAX_SITE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Healthcare Professional:</span>
                                        <span class="cell">HCW_NAME</span>
                                    </div>
                                </div>