                        <div class="card2 l">
                            <div class="title STATE_ID">
                                <span class="cell left-col hr">COVID-19 vaccine</span>
                                <span class="cell state-child state-low-child">
                                    <span class="mdi-set mdi-alert-circle"></span>
                                    <span>NOT VACCINATED</span>
                                </span>
                                <span class="cell state-child state-mid-child">
                                    <span class="mdi-set mdi-alert-circle"></span>
                                    <span>PARTIALLY VACCINATED</span>
                                </span>
                                <span class="cell state-child state-high-child">
                                    <span class="mdi-set mdi-checkbox-marked-circle"></span>
                                    <span>FULLY VACCINATED</span>
                                </span>
                            </div>
                            <div class="table">
                                CONTENT_INSERT
                            </div>
                        </div>