<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard - KoDatos</title>
        <link rel="shortcut icon" href="DIR_IMG/branding/favicon.ico">
        <link href="DIR_AST/common.css" rel="stylesheet">
        <script src="DIR_AST/common.js" type="text/javascript"></script>
    </head>
    <body class="bg ib0">
TPL_HEADER
        <div id="primary-header-spacer"></div>
        <main id="main">
            <section id="section-dashboard">
                <div class="two-col">
                    <div class="content-layout">
                        <div class="menu-header">
                            RECORDS
                        </div>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                Registrations
                            </div>
                        </a>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                Vaccination Sites
                            </div>
                        </a>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                Laboratories
                            </div>
                        </a>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                Healthcare Workers
                            </div>
                        </a>
                        <div class="menu-header">
                            ADMINISTRATION
                        </div>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                User Accounts
                            </div>
                        </a>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                Locations
                            </div>
                        </a>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                Vaccines
                            </div>
                        </a>
                        <a class="menu-button" href="#">
                            <div>
                                <span class="mdi-set mdi-account"></span>
                                COVID-19 Test Types
                            </div>
                        </a>
                    </div>
                    <div class="content-layout">
                        <div class="card">
                            <div class="card2 l">
                                <div class="title STATE_ID">
                                    <span class="cell hr">COVID-19 test result</span>
                                    <span class="cell state-child state-low-child">
                                        <span class="mdi-set mdi-alert-circle"></span>
                                        <span>POSITIVE</span>
                                    </span>
                                    <span class="cell state-child state-mid-child">
                                        <span class="mdi-set mdi-alert-circle"></span>
                                        <span>UNTESTED</span>
                                    </span>
                                    <span class="cell state-child state-high-child">
                                        <span class="mdi-set mdi-checkbox-marked-circle"></span>
                                        <span>NEGATIVE</span>
                                    </span>
                                </div>
                                <div class="table">
                                    CONTENT_INSERT
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>