<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard - KoDatos</title>
        <link rel="shortcut icon" href="DIR_IMG/branding/favicon.ico">
        <link href="DIR_AST/common.css" rel="stylesheet">
        <script src="DIR_AST/common.js" type="text/javascript"></script>
    </head>
    <body class="bg ib0">
TPL_HEADER
        <main id="main">
            <section id="section-dashboard">
                <div id="primary-header-spacer"></div>
                <div class="content-layout">
                    <div class="card">
                    </div>
                    <div class="card">
                        <div class="card2 l">
                            <div class="title STATE_ID">
                                <span class="cell hr">COVID-19 test result</span>
                                <span class="cell state-child state-low-child">
                                    <span class="mdi-set mdi-alert-circle"></span>
                                    <span>POSITIVE</span>
                                </span>
                                <span class="cell state-child state-mid-child">
                                    <span class="mdi-set mdi-alert-circle"></span>
                                    <span>UNTESTED</span>
                                </span>
                                <span class="cell state-child state-high-child">
                                    <span class="mdi-set mdi-checkbox-marked-circle"></span>
                                    <span>NEGATIVE</span>
                                </span>
                            </div>
                            <div class="table">
                                CONTENT_INSERT
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>