<div class="title">
    <span class="cell left-col hr">PAGE_NAME</span>
</div>
<form method="post" action="">
    <input type="hidden" id="field-holder-0" name="holder0" value="HOLDER_0">
    <input type="hidden" id="field-holder-1" name="holder1" value="HOLDER_1">
    <input type="hidden" id="field-holder-2" name="holder2" value="HOLDER_2">
    <div class="table">
        <div class="row">
            Are you sure you would want to delete ITEM_DETAILS?
        </div>
        <div class="row mt1">
            <button class="cell" name="action" value="YES" type="submit">Yes</button>
            <button class="cell" name="action" value="NO" type="submit">No</button>
        </div>
    </div>
</form>
