<div class="card2-outer-title">
    <span class="cell left-col hr">PAGE_NAME</span>
    <span class="cell">
        <a class="button" href="/admin/PAGE_LANDING/add">
            <span class="iconify" data-icon="mdi-account-plus"></span>
            <span>Add NEW_VERB</span>
        </a>
    </span>
</div>
<div class="card2">
    <div class="table ac hl">
        <div class="row table-header">
            <span class="cell left-col hr">Name</span>
            <span class="cell hr">Status</span>
            <span class="cell hr">Actions</span>
        </div>
        CONTENT_INSERT
    </div>
</div>
