<div class="title">
    <span class="cell left-col hr">PAGE_NAME</span>
    <span class="cell">
        <a class="button" href="/admin/PAGE_LANDING">
            <span class="mdi-set mdi-close-thick"></span>
            Cancel
        </a>
    </span>
</div>
<form method="post" action="">
    <input type="hidden" id="location-id" name="location-id" value="LOCATION_ID">
    <div class="table eq">
        <div class="row subhead">
        General Information
        </div>
        <div class="row">
            <div class="cell box v">
                <span>Name:</span>
                <input type="text" id="field-location-name" name="location-name" value="LOCATION_NAME" required>
            </div>
        </div>
        <div class="row">
            <div class="cell box v">
                <span>Linked LGU:</span>
                <select id="field-location-group" name="location-group" required disabled>
                    <option value="" hidden>Default/Unavailable</option>
                    <!-- LGU_GROUP_INSERT -->
                    <!-- <option value="" hidden>Choose</option> -->
                </select>
            </div>
        </div>
        <div class="row mt1">
            <button class="cell" name="action" value="G_RET" type="submit">Save</button>
            <button class="cell" name="action" value="G_NEW" type="submit">Save and Add Another NEW_VERB</button>
        </div>
    </div>
</form>
