                                <div class="table hl">
                                    <div class="row subhead">
                                        <span>TEST_NUM Test Result</span>
                                        <div class="box">
                                            <a class="action-button" href="/admin/test-results/edit?id=TEST_ID">
                                                <div>
                                                    <span class="iconify" data-icon="mdi-pencil"></span>
                                                    Edit
                                                </div>
                                            </a>
                                            <a class="action-button" href="/admin/test-results/delete?id=TEST_ID">
                                                <div>
                                                    <span class="iconify" data-icon="mdi-trash-can"></span>
                                                    Delete
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Date of Test Result:</span>
                                        <span class="cell">TEST_DATE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Testing Laboratory:</span>
                                        <span class="cell">TEST_SITE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Test Type:</span>
                                        <span class="cell">TEST_TYPE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Test Result:</span>
                                        <span class="cell">TEST_RESULT</span>
                                    </div>
                                </div>