                                <div class="table hl">
                                    <div class="row subhead">
                                        <span>DOSE_NUM Dose</span>
                                        <div class="box">
                                            <a class="action-button" href="/admin/vaccinations/edit?id=VAX_ID">
                                                <div>
                                                    <span class="mdi-set mdi-pencil"></span>
                                                    Edit
                                                </div>
                                            </a>
                                            <a class="action-button" href="/admin/vaccinations/delete?id=VAX_ID">
                                                <div>
                                                    <span class="mdi-set mdi-trash-can"></span>
                                                    Delete
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Date of Vaccination:</span>
                                        <span class="cell">VAX_DATE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Vaccine/Prophylaxis:</span>
                                        <span class="cell">VAX_TYPE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Product Name/Manufacturer:</span>
                                        <span class="cell">PROD_NAME</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Lot Number:</span>
                                        <span class="cell">LOT_NUM</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Vaccination Site:</span>
                                        <span class="cell">VAX_SITE</span>
                                    </div>
                                    <div class="row">
                                        <span class="cell left-col hr">Healthcare Professional:</span>
                                        <span class="cell">HCW_NAME</span>
                                    </div>
                                </div>