<div class="title">
    <span>PAGE_NAME</span>
    <div>
        <a class="button mr1" href="/admin/people/edit?rfc=PERSON_RFC">
            <span class="mdi-set mdi-bookmark-plus"></span>
            Back to Edit Person
        </a>
        <a class="button" href="/admin/vaccinations/add?rfc=PERSON_RFC">
            <span class="mdi-set mdi-bookmark-plus"></span>
            Add Dose
        </a>
    </div>
</div>
<span class="mb1">
These are the vaccinations records of <strong>PERSON_NAME</strong>:
</span>
<div class="table">
    CONTENT_INSERT
</div>
