            <section id="section-scan" class="section-full">
                <div id="primary-header-spacer"></div>
                <div class="content-layout">
                    <img src="DIR_IMG/taken.svg" width="180px">
                    <h1>Invalid reference code</h1>
                    <h2>The reference code or QR code that you scanned is invalid. Please try again.</h2>
                    <div class="box wp ac jc">
                        <a class="choice" href="#" onclick="document.getElementById('qr-selector').click();">
                            <div class="box title">
                                <span class="icon iconify" data-icon="mdi-qrcode-scan"></span>
                                <span class="text c nm">Scan QR code</span>
                            </div>
                        </a>
                        <a class="choice" href="DIR_ROOT/enter-code">
                            <div class="box title">
                                <span class="icon iconify" data-icon="mdi-tooltip-account"></span>
                                <span class="text c nm">Use reference code</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div hidden>
                    <div id="reader" width="600px" height="600px"></div>
                    <input type="file" id="qr-selector" accept="image/*">
                    <script type="module">
                        const html5QrCode = new Html5Qrcode("reader");
                        const fileinput = document.getElementById("qr-selector");
                        fileinput.addEventListener('change', e => {
                            if (e.target.files.length == 0) {
                                return;
                            }
                            document.getElementById("load-overlay").setAttribute("active", "true");
                            const referenceField = document.getElementById("field-reference");
                            const imageFile = e.target.files[0];
                            html5QrCode.scanFile(imageFile, true)
                                .then(decodedText => {
                                    referenceField.value = decodedText;
                                    document.verifyForm.submit();
                                })
                                .catch(err => {
                                    referenceField.value = "-1";
                                    document.verifyForm.submit();
                                });
                        });
                    </script>
                    <form name="verifyForm" method="post" action="view">
                        <input type="text" id="field-reference" class="mb1" name="reference" placeholder="Reference Code" required>
                        <div class="box ac jc v">
                            <button class="">
                                <span class="text c nm">Verify</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
