<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Record - KoDatos</title>
        <link rel="shortcut icon" href="DIR_IMG/branding/favicon.ico">
        <link href="DIR_AST/common.css" rel="stylesheet">
        <script src="DIR_AST/common.js" type="text/javascript"></script>
        <script src="DIR_AST/qrcode.js" type="text/javascript"></script>
    </head>
    <body>
TPL_HEADER
        <main id="main">
            <section id="section-view-header">
                <div id="primary-header-spacer"></div>
                <div class="content-layout">
                    <div id="pov-container">
                        <div id="pov-general">
                            <div class="title">PATIENT_NAME</div>
                            <div class="subtitle">PATIENT_LOCATION</div>
                            <div class="subtitle">Date of Birth: PATIENT_BIRTH</div>
                        </div>
                        <div id="pov-status-box" class="box v wp">
                            <div id="pov-qr-container">
                            </div>
                            <span id="pov-reference-code">PATIENT_REFCODE</span>
                            <script type="text/javascript">
                                new QRCode(
                                    document.getElementById("pov-qr-container"),
                                    {
                                        text: document.getElementById("pov-reference-code").innerHTML,
                                        width: 1024,
                                        height: 1024,
                                    }
                                );
                            </script>
                        </div>
                    </div>
                </div>
                <div class="content-layout">
                    <div class="box v">
CONTENT_INSERT
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>