            <section id="section-view-header">
                <div id="primary-header-spacer"></div>
                <div class="content-layout">
                    <div id="pov-status-container">
                        <div id="pov-left-col">
                            <div class="title">PATIENT_NAME</div>
                            <div class="subtitle">PATIENT_LOCATION</div>
                            <div class="subtitle">Date of Birth: PATIENT_BIRTH</div>
                        </div>
                        <div id="pov-right-col">
                            <div id="pov-qr">
                            </div>
                            <span id="pov-reference-code">PATIENT_REFCODE</span>
                            <script type="text/javascript">
                                new QRCode(
                                    document.getElementById("pov-qr"),
                                    {
                                        text: document.getElementById("pov-reference-code").innerHTML,
                                        width: 1024,
                                        height: 1024,
                                    }
                                );
                            </script>
                        </div>
                    </div>
                </div>
            </section>